.savi {
    margin: 0;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .overview,
  .savi {
    position: relative;
    letter-spacing: 0.15px; 
    line-height: 140%;
  }


  .vuesaxbulkhome-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
  }
  .dashboard {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
  }
  .feature-1 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .vuesaxbulkcategory-icon {
    height: 24px;
    width: 24px;
    position: relative;
  }
  .menu-two {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
  }
  .feature-2 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    gap: var(--gap-3xs);
  }
  .vuesaxbulksecurity-card-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
  }
  .savings {
    width: 63px;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-family: var(--body-text-normal-16);
    font-size: var(--body-text-normal-16-size);
    background-color: transparent;
    height: 22px;
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
    color: var(--white);
    text-align: left;
    display: inline-block;
  }
  .feature-3 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    gap: var(--gap-3xs);
  }
  .vuesaxbulkpeople-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
  }
  .menu-four {
    width: 56px;
    border: 0;
    outline: 0;
    font-family: var(--body-text-normal-16);
    font-size: var(--body-text-normal-16-size);
    background-color: transparent;
    height: 22px;
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
    color: var(--main-text);
    text-align: left;
    display: inline-block;
  }
  .feature-4 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .vuesaxbulktranslate-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
  }
  .menu-five {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
  }
  .feature,
  .feature-5,
  .overview-text {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .feature-5 {
    border-radius: var(--br-5xs);
    background-color: var(--white);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-3xs);
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .feature,
  .overview-text {
    flex-direction: column;
    align-items: flex-start;
  }
  .feature {
    gap: var(--gap-5xs);
    color: var(--main-text);
  }
  .overview-text {
    gap: var(--gap-5xl);
  }
  .others {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
  }
  .vuesaxbulksetting-2-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
  }
  .settings {
    width: 64px;
    border: 0;
    outline: 0;
    font-family: var(--body-text-normal-16);
    font-size: var(--body-text-normal-16-size);
    background-color: transparent;
    height: 22px;
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
    color: var(--main-text);
    text-align: left;
    display: inline-block;
  }
  .feature-41 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .vuesaxbulklogout-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
  }
  .logout {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
  }
  .feature-51,
  .settings-feature {
    display: flex;
    justify-content: flex-start;
  }
  .feature-51 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-3xs);
    gap: var(--gap-3xs);
  }
  .settings-feature {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
    color: var(--main-text);
  }
  .others-parent,
  .settings-feature {
    align-self: stretch;
  }
  .others-parent,
  .savi1,
  .side-bardefault {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .savi1 {
    align-self: stretch;
    text-align: left;
    font-size: var(--body-text-normal-16-size);
    color: var(--grey-400);
    font-family: var(--body-text-normal-16);
  }
  .side-bardefault {
    height: 1024px;
    width: 271px;
    background-color: var(--white);
    padding: var(--padding-5xl);
    box-sizing: border-box;
  }
  .navbardefault-type-child {
    height: 72px;
    width: 1169px;
    position: relative;
    background-color: var(--white);
    display: none;
    max-width: 100%;
  }
  .search-alt-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .search {
    width: calc(100% - 24px);
    border: 0;
    outline: 0;
    font-family: var(--body-text-normal-16);
    font-size: var(--body-text-normal-16-size);
    background-color: transparent;
    height: 22px;
    flex: 1;
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
    color: var(--grey-400);
    text-align: left;
    display: inline-block;
    min-width: 32px;
  }
  .avatar-instance {
    width: 86px;
    align-items: center;
    gap: var(--gap-5xs);
  }
  .avatar-instance,
  .search-bar,
  .search-bar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .search-bar {
    flex: 1;
    border-radius: 100px;
    background-color: var(--white);
    border: 1px solid #d0d5dd;
    align-items: center;
    padding: var(--padding-3xs) var(--padding-5xl);
  }
  .search-bar-wrapper {
    width: 308px;
    align-items: flex-start;
    z-index: 1;
  }
  .avatardefault-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: 200px;
    object-fit: cover;
    z-index: 1;
  }
  .deborah {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 140%;
    z-index: 1;
  }
  .avatar-container,
  .navbardefault-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .navbardefault-type {
    align-self: stretch;
    background-color: var(--white);
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
    padding: 19px 135px 9px 51px;
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .my-goals {
    margin: 0;
    width: 258px;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.15px;
    line-height: 140%;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .add-new-goal {
    position: relative;
    font-size: var(--body-text-normal-16-size);
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
    color: var(--blue-1);
    white-space: pre-wrap;
  }
  .goals-frame,
  .my-goals-parent {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .my-goals-parent {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .goals-frame {
    width: 1078px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-20xl);
    box-sizing: border-box;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
  }
  .avatar-icon,
  .tag-group-icon {
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .tag-group-icon {
    height: 99px;
    width: 131px;
    position: relative;
    border-radius: var(--br-5xs);
  }
  .avatar-icon {
    height: 16px;
    width: 16px;
    border-radius: var(--br-980xl);
    min-height: 16px;
  }
  .avatar-icon,
  .stars-icon,
  .status {
    position: relative;
    display: none;
  }
  .stars-icon {
    height: 12px;
    width: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .status {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--teal-500);
  }
  .placeholder1 {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--body-text-normal-16);
    color: var(--teal-500);
    text-align: left;
  }
  .placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
    gap: var(--gap-6xs);
  }
  .chevron-right-icon,
  .x-lg-icon {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .chevron-right-icon {
    height: 12px;
    width: 12px;
    display: none;
  }
  .x-lg-icon {
    height: 8px;
    width: 8px;
  }
  .close-icon {
    height: 15px;
    width: 15px;
    border-radius: var(--br-980xl);
    background-color: var(--teal-200);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .badge,
  .badge-and-tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .badge-and-tag {
    border-radius: var(--br-980xl);
    background-color: var(--teal-100);
    align-items: center;
    padding: var(--padding-7xs);
    gap: var(--gap-12xs);
  }
  .badge {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-items: flex-start;
  }
  .div,
  .trip-to-bali {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-weight: 600;
  }
  .trip-to-bali {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .div {
    font-size: var(--body-text-normal-16-size);
  }
  .tag-group1,
  .tag-group2 {
    display: flex;
    justify-content: flex-start;
  }
  .tag-group2 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
    min-width: 176px;
  }
  .tag-group1 {
    width: 499px;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-38xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-21xl);
    max-width: 100%;
  }
  .divider {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
  }
  .tag-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .goal-frame-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--grey-100);
    width: 100%;
    height: 100%;
    display: none;
  }
  .badge-triple,
  .goal-frame {
    height: 4px;
    border-radius: var(--br-5xs);
  }
  .badge-triple {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 287px;
    z-index: 1;
  }
  .goal-frame {
    align-self: stretch;
    position: relative;
    background-color: var(--grey-100);
  }
  .tag-group-parent {
    align-self: stretch;
    background-color: var(--white);
    box-shadow: var(--bottom-card-shadow-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-5xl);
    max-width: 100%;
    cursor: pointer;
  }
  .avatar-icon1,
  .frame-child {
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-child {
    height: 99px;
    width: 131px;
    position: relative;
    border-radius: var(--br-5xs);
  }
  .avatar-icon1 {
    height: 16px;
    width: 16px;
    border-radius: var(--br-980xl);
    min-height: 16px;
  }
  .avatar-icon1,
  .stars-icon1,
  .status1 {
    position: relative;
    display: none;
  }
  .stars-icon1 {
    height: 12px;
    width: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .status1 {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--teal-500);
  }
  .placeholder3 {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--body-text-normal-16);
    color: var(--teal-500);
    text-align: left;
  }
  .placeholder2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
    gap: var(--gap-6xs);
  }
  .chevron-right-icon1,
  .x-lg-icon1 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .chevron-right-icon1 {
    height: 12px;
    width: 12px;
    display: none;
  }
  .x-lg-icon1 {
    height: 8px;
    width: 8px;
  }
  .close-icon1 {
    height: 15px;
    width: 15px;
    border-radius: var(--br-980xl);
    background-color: var(--teal-200);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .badge-and-tag1,
  .badge1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .badge-and-tag1 {
    border-radius: var(--br-980xl);
    background-color: var(--teal-100);
    align-items: center;
    padding: var(--padding-7xs);
    gap: var(--gap-12xs);
  }
  .badge1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-items: flex-start;
  }
  .div1,
  .trip-to-bali1 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-weight: 600;
  }
  .trip-to-bali1 {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .div1 {
    font-size: var(--body-text-normal-16-size);
  }
  .badge-parent,
  .frame-container {
    display: flex;
    justify-content: flex-start;
  }
  .badge-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
    min-width: 176px;
  }
  .frame-container {
    width: 499px;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-38xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-21xl);
    max-width: 100%;
  }
  .div2 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
  }
  .frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .frame-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--grey-100);
    width: 100%;
    height: 100%;
    display: none;
  }
  .frame-inner,
  .rectangle-parent {
    height: 4px;
    border-radius: var(--br-5xs);
  }
  .frame-inner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 287px;
    z-index: 1;
  }
  .rectangle-parent {
    align-self: stretch;
    position: relative;
    background-color: var(--grey-100);
  }
  .frame-parent {
    align-self: stretch;
    background-color: var(--white);
    box-shadow: var(--bottom-card-shadow-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  .avatar-icon2,
  .frame-icon {
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-icon {
    height: 99px;
    width: 131px;
    position: relative;
    border-radius: var(--br-5xs);
  }
  .avatar-icon2 {
    height: 16px;
    width: 16px;
    border-radius: var(--br-980xl);
    min-height: 16px;
  }
  .avatar-icon2,
  .stars-icon2,
  .status2 {
    position: relative;
    display: none;
  }
  .stars-icon2 {
    height: 12px;
    width: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .status2 {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--teal-500);
  }
  .placeholder5 {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--body-text-normal-16);
    color: var(--teal-500);
    text-align: left;
  }
  .placeholder4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
    gap: var(--gap-6xs);
  }
  .chevron-right-icon2,
  .x-lg-icon2 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .chevron-right-icon2 {
    height: 12px;
    width: 12px;
    display: none;
  }
  .x-lg-icon2 {
    height: 8px;
    width: 8px;
  }
  .close-icon2 {
    height: 15px;
    width: 15px;
    border-radius: var(--br-980xl);
    background-color: var(--teal-200);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .badge-and-tag2,
  .badge2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .badge-and-tag2 {
    border-radius: var(--br-980xl);
    background-color: var(--teal-100);
    align-items: center;
    padding: var(--padding-7xs);
    gap: var(--gap-12xs);
  }
  .badge2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-items: flex-start;
  }
  .div3,
  .trip-to-bali2 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-weight: 600;
  }
  .trip-to-bali2 {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .div3 {
    font-size: var(--body-text-normal-16-size);
  }
  .badge-group,
  .frame-parent2 {
    display: flex;
    justify-content: flex-start;
  }
  .badge-group {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
    min-width: 176px;
  }
  .frame-parent2 {
    width: 499px;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-38xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-21xl);
    max-width: 100%;
  }
  .div4 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
  }
  .frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--grey-100);
    width: 100%;
    height: 100%;
    display: none;
  }
  .frame-child1,
  .rectangle-group {
    height: 4px;
    border-radius: var(--br-5xs);
  }
  .frame-child1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 287px;
    z-index: 1;
  }
  .rectangle-group {
    align-self: stretch;
    position: relative;
    background-color: var(--grey-100);
  }
  .badge-placeholder,
  .frame-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  .frame-div {
    align-self: stretch;
    background-color: var(--white);
    box-shadow: var(--bottom-card-shadow-light);
    align-items: center;
    padding: var(--padding-5xl);
    box-sizing: border-box;
  }
  .badge-placeholder {
    flex: 1;
    align-items: flex-start;
  }
  .badge-placeholder-wrapper {
    width: 1077px;
    flex-direction: row;
    padding: 0 var(--padding-20xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--body-text-normal-16);
  }
  .badge-placeholder-wrapper,
  .nav-bar-default,
  .personal-saving {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-bar-default {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xl);
    max-width: calc(100% - 271px);
    text-align: left;
    font-size: var(--body-text-normal-16-size);
    color: var(--main-text);
    font-family: var(--body-text-normal-16);
  }
  .personal-saving {
    width: 100%;
    position: relative;
    background-color: var(--grey-50);
    overflow: hidden;
    flex-direction: row;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--primary-color);
    font-family: var(--font-bodoni-moda);
  }
  @media screen and (max-width: 1200px) {
    .navbardefault-type {
      padding-left: 25px;
      padding-right: 67px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .savi {
      font-size: var(--font-size-7xl);
      line-height: 36px;
    }
    .side-bardefault {
      display: none;
    }
    .my-goals {
      font-size: var(--font-size-7xl);
      line-height: 36px;
    }
    .nav-bar-default {
      max-width: 100%;
    }
    .personal-saving {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .side-bardefault {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .navbardefault-type {
      flex-wrap: wrap;
      padding-right: 33px;
      box-sizing: border-box;
    }
    .my-goals-parent {
      flex-wrap: wrap;
    }
    .tag-group1 {
      gap: var(--gap-xl);
      padding-right: var(--padding-9xl);
      box-sizing: border-box;
    }
    .tag-group,
    .tag-group1 {
      flex-wrap: wrap;
    }
    .frame-container {
      flex-wrap: wrap;
      gap: var(--gap-xl);
      padding-right: var(--padding-9xl);
      box-sizing: border-box;
    }
    .frame-group {
      flex-wrap: wrap;
    }
    .frame-parent2 {
      flex-wrap: wrap;
      gap: var(--gap-xl);
      padding-right: var(--padding-9xl);
      box-sizing: border-box;
    }
    .frame-parent1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 450px) {
    .savi {
      font-size: var(--font-size-lgi);
      line-height: 27px;
    }
    .search-bar-wrapper {
      gap: 28px;
    }
    .divider,
    .my-goals,
    .trip-to-bali {
      font-size: var(--font-size-lgi);
      line-height: 27px;
    }
    .divider,
    .trip-to-bali {
      line-height: 16px;
    }
    .divider {
      line-height: 13px;
    }
    .div2,
    .div4,
    .trip-to-bali1,
    .trip-to-bali2 {
      font-size: var(--font-size-lgi);
      line-height: 16px;
    }
    .div2,
    .div4,
    .trip-to-bali2 {
      line-height: 13px;
    }
    .div4,
    .trip-to-bali2 {
      line-height: 16px;
    }
    .div4 {
      line-height: 13px;
    }
  }

  
  