/* .text {
    position: relative;
    line-height: 140%;
  }
  .text-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-parent1,
  .text-wrapper,
  .text1 {
    display: flex;
    align-items: center;
  }
  .text1 {
    width: 374px;
    position: relative;
    font-size: var(--body-text-bold-16-size);
    letter-spacing: 0.15px;
    line-height: 140%;
    text-align: center;
    justify-content: center;
    height: 49px;
    flex-shrink: 0;
  }
  .frame-parent1 {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .text2 {
    letter-spacing: 0.15px;
    line-height: 140%;
    font-weight: 600;
  }
  .iconadd,
  .text2,
  .text3 {
    position: relative;
  }
  .iconadd {
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .text3 {
    line-height: 20px;
  }
  .chevron-down-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .buttondefault,
  .text-parent {
    display: flex;
    justify-content: flex-start;
  }
  .buttondefault {
    width: 320px;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs) var(--padding-base);
    gap: var(--gap-81xl);
    font-size: var(--button-semi-bold-14-size);
    color: var(--grey-400);
  }
  .text-parent {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
  }
  .arrow-drop-down-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .buttondefault2 {
    width: 320px;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xs) var(--padding-base);
    font-size: var(--button-semi-bold-14-size);
    color: var(--grey-400);
  }
  .calendar-lines-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-parent3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }
  .ctadefault {
    width: 320px;
    border-radius: var(--br-5xs);
    background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-5xs);
    color: var(--white);
  }
  .frame-parent2 {
    gap: var(--gap-5xl);
  }
  .add-more-goals,
  .add-more-goals-inner,
  .frame-parent2,
  .frame-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .add-more-goals,
  .add-more-goals-inner {
    align-items: center;
    font-size: var(--body-text-bold-16-size);
  }
  .add-more-goals {
    position: relative;
    border-radius: 16px;
    background-color: var(--white);
    padding: 32px 40px;
    box-sizing: border-box;
    gap: 32px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: left;
    font-size: var(--headline-medium-24-size);
    color: var(--main-text);
    font-family: var(--button-semi-bold-14);
  }
   */